@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes ticker {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-ticker {
  animation: ticker 10s linear infinite;
}

.animate-ticker:hover {
  animation-play-state: paused;
}
